html {
  background: url("../images/yes.jpg") no-repeat, url("../images/no.jpg"), repeat;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  max-width: 150px;
}
.wrapper {
  background-color: black;
  opacity: 0.7;
  margin-left: 8.5em;
  width: 80em;
  padding: 50px;
  position: fixed;
  text-align: center;
  color: white;
}
/*
html {
  background-color: black;
  background-image: url("../images/pacman_wallpaper_by_jamesrudge-no-pacman.jpg");
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: repeat;
}

body {
  background-image: url("../images/pacman_wallpaper_by_jamesrudge-yes-pacman.jpg");
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
*/
