html {
  background: url("../images/yes.jpg") no-repeat, url("../images/no.jpg"), repeat;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  max-width: 150px;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
}
/*
.header {
  font-family: 'Faster One', cursive;
  color: yellow;
}

.wrapper-2 {
float: left;
position: fixed;
opacity: 0.7;
height:100%;
width:100%;
background-color:#161532;
}
*/
/*
html {
  background-color: black;
  background-image: url("../images/pacman_wallpaper_by_jamesrudge-no-pacman.jpg");
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: repeat;
}

body {
  background-image: url("../images/pacman_wallpaper_by_jamesrudge-yes-pacman.jpg");
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
*/
