// out: css/main.css, sourcemap: true

html {
  background-color: black;
  background-image: url("../images/pacman_wallpaper_by_jamesrudge-no-pacman.jpg");
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: repeat;
}

body {
  background-image: url("../images/pacman_wallpaper_by_jamesrudge-yes-pacman.jpg");
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


// img {
//   position:fixed;
//   top:0px;
//   left:0px;
//   width:100%;
//   height:auto;
// }
