// out: css/main.css, sourcemap: true


img{
  height: auto;
  width: 40%;
  max-width: 350px;
  min-width: 350px;
}

html {
  background: url(pacman_wallpaper_by_jamesrudge.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
