  //out: css/main.css, sourcemap: true


html {
  background:
  url("../images/yes.jpg") no-repeat,
  url("../images/no.jpg"), repeat;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
}

html {
	height:100%;
}

body {
	height:100%;
	margin: 0px;
}

button {

}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: 'Faster One', Arial, sans-serif;
  color: #eed31e;
  padding: 0;
  margin-top: 0;
  margin-bottom: .4em;
  text-decoration: underline;
}

h4 {
  /*background-color: #81186d;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 0.1em;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 18px;
*/
}

.main {
  background-color: white;
  display: block;
  margin-left: 25%;
  margin-right: 50%;
}

.button {
  background-color: #0b85b3;
  border: none;
  color: white;
  padding: 5px 7px;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}

.button_1 {

}

.button:hover {
  background-color: #f08131;
  color: black;
}

.button:active {
  background-color: #d560a3;
}

.image_wrapper{

}

.image_1 {
  width: 400px;
  height: auto;
  margin-left: 3em;
  margin-right: 3em;
  padding: .25em;
  background-color: #55c8fa;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
}

.image_2 {
  width: 400px;
  height: auto;
  margin-left: 3em;
  margin-right: 3em;
  padding: .25em;
  background-color: #55c8fa;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
}

.image_3 {
  width: 400px;
  height: auto;
  margin-left: 3em;
  margin-right: 3em;
  padding: .25em;
  background-color: #e97dee;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
}

.image_4 {
  width: 400px;
  height: auto;
  margin-bottom: 2em;
  margin-left: 3em;
  margin-right: 3em;
  padding: .25em;
  background-color: #e97dee;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
}

.image_5 {
  width: 400px;
  height: auto;
  margin-bottom: 2em;
  margin-left: 3em;
  margin-right: 3em;
  padding: .25em;
  background-color: #e3341c;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
}

.image_6 {
  width: 400px;
  height: auto;
  margin-bottom: 2em;
  margin-left: 3em;
  margin-right: 3em;
  padding: .25em;
  background-color: #e3341c;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
}

.paragraph_1 {
  margin-left: 4em;
  margin-right: 4em;
  line-height: 1.5em;
  margin-bottom: 3em;
}

.outline {
  padding: .5em;
  background-color: #052d85;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.paragraph_2 {
  margin-left: 4em;
  margin-right: 4em;
  line-height: 1.5em;
  margin-bottom: 3em;
}

.paragraph_3 {
  margin-left: 4em;
  margin-right: 4em;
  line-height: 1.5em;
}

table {
  margin-left: auto;
  margin-right: auto;
}

div.centered {
  text-align: center;
}

div.centered table{
  margin: 0 auto;
  text-align: left;
}

.paragraph_wrapper {

  background-color: black;
  font-family: sans-serif;
  color: #cccccc;
  text-align: center;
  padding: .3em;
  padding-bottom: 1.5em;
}

.vid {
  display: block;
  background-color: #e49000;
  padding: 5px;
  margin-left: 2em;
  margin-right: 2em;
}

.vid2 {
  display: block;
  background-color: #e49000;
  padding: 5px;
  margin: 0 auto;
  margin-left: 2em;
  margin-right: 2em;
}

.vid3 {
  display: block;
  background-color: #e49000;
  padding: 5px;
  margin: 0 auto;
  margin-left: 2em;
  margin-right: 2em;
}

.buttons {
  text-align: center;
}

.vids {
  min-width: 350px;
  margin-top: 1em;
}











































/*
html {
  background-color: black;
  background-image: url("../images/pacman_wallpaper_by_jamesrudge-no-pacman.jpg");
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: repeat;
}

body {
  background-image: url("../images/pacman_wallpaper_by_jamesrudge-yes-pacman.jpg");
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
*/


// img {
//   position:fixed;
//   top:0px;
//   left:0px;
//   width:100%;
//   height:auto;
// }
